{% extends 'index.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="carousel-inner" id="carouselSlides">
    <div class="slides">
        <img src="{% static 'images/home1.png' %}" alt="Image 1">
        <img src="{% static 'images/home2.png' %}" alt="Image 2">
        <img src="{% static 'images/home3.png' %}" alt="Image 3">
        <img src="{% static 'images/home1.png' %}" alt="Image 4">
        <img src="{% static 'images/home2.png' %}" alt="Image 5">
        <img src="{% static 'images/home3.png' %}" alt="Image 6">
    </div>
    <div class="buttons">
        <button onclick="prevSlide()">Prev</button>
        <button onclick="nextSlide()">Next</button>
    </div>
</div>
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
