<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <header id="Heading">
        <h1>Welcome to Tattoo Tracker App!</h1>
    </header>
    <nav id="auth" class="auth">
        <button class="btn" onclick="location.href='{% url 'login' %}'">Login</button>
        <button class="btn" onclick="location.href='{% url 'signup' %}'">Sign Up</button>
        <button onclick="checkLogin()">Check Login State</button>
        <button onclick="logout()">Logout</button>
    </nav>
    <div class="navigation">
        <a href="{% url 'home' %}" class="btn">Home</a>
        <a href="{% url 'upload_tattoo' %}" class="btn btn-primary">Upload New Tattoo</a>
        <!-- Any template, for example, index.html -->
        <a href="{% url 'view_tattoos' %}" class="btn btn-primary">View Tattoos</a>
    </div>
    <!-- Somewhere in your templates where tattoos are listed -->
<!-- templates/index.html -->
    {% if tattoo %}
        <a href="{% url 'edit_tattoo' tattoo.id %}">Edit</a>
    {% else %}
        <p>No tattoo available to edit.</p>
    {% endif %}

    {% block content %}
    <!-- Default content if none provided -->
    {% endblock %}

    <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
