<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    {% load static %}
    <style>
    /* CSS for positioning the sign-in status */
    .auth {
        position: fixed;
        right: 10px;
        top: 10px;
        background-color: #ffdbf4;
        padding: 5px;
        border-radius: 5px;
        z-index: 1000;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <h1>Welcome to Tattoo Tracker App!</h1>

    <div id="auth">
        <button onclick="checkLogin()">Check Login State</button>
        <button onclick="logout()">Logout</button>
    </div>
    {% block content %}
    <!-- Default content if none provided -->
    {% endblock %}
    <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
