/* index.css */
body {
    background-color: #f0f0f0; /* Light grey background */
    font-family: Arial, sans-serif; /* Makes the font Arial or sans-serif if Arial is not available */
    color: #333333; /* Dark grey text color */
    margin: 20px;
    padding: 0;
}

h1 {
    color: #0073e6; /* Bright blue color for the header */
    text-align: center; /* Center-aligns the text */
    padding: 20px 0; /* Adds space above and below the text */
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: #0056b3;
}
