/* index.css */
body {
    background-color: #000000; /* Solid black background for the body */
    font-family: Arial, sans-serif; /* Arial or sans-serif */
    color: #FF0000; /* Red text color for general text */
    margin: 0;
    padding: 0;
}

h1 {
    background-image: linear-gradient(to bottom, #750000, #000000); /* Gradient from dark red to black */
    color: #C0C0C0; /* Silver text for contrast */
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 20px;
}


.auth {
    background-color: transparent; /* Gradient from dark red to black */
    color: #C0C0C0; /* Silver text for contrast */
    position: fixed;
    right: 10px;
    top: 25px;
    padding: 5px;
    border-radius: 0px;
    border-color: #FFFFFF;
    z-index: 1000;
    text-align: center;
    margin-bottom: 5px;
}

.header {
    background-image: linear-gradient(to right, #750000, #000000); /* Gradient from dark red to black */
    color: #C0C0C0; /* Silver text for contrast */
    padding: 5px 5px;
    text-align: center;
    margin-bottom: 20px;
}

.navigation {
    background-color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
}

.btn, a.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    background-color: #FF0000; /* Red background for buttons */
    color: #FFFFFF; /* White text color for buttons */
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover, a.btn:hover {
    background-color: #C0C0C0; /* Silver on hover */
    color: #000000; /* Black text on hover */
}


